# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
mike.txt

*/.hg
*/.idea
.idea
.env
.env_celery
.env_client
.env_server

cr_test.pem

_saved_email
_saved_fullname
_saved_username
_saved_password

# Django stuff:
*.log
