<!doctype html>
<html>
  <head>
  {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flat-ui.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flat-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/default.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>{% block title %}{% endblock %} - CodeRunner</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-0 messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category|tag_class }}">
            <i class="fa {{ category|glyph_class }}"></i>
            <span>{{ message }}</span>
          </div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>